/* Shopify table css*/
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
    width: 100%;
    border-collapse: collapse;
}
/*table tbody tr:nth-child(odd) {
    background: #fafbfc; }*/
table tbody tr:last-child td {
    border-bottom-width: 0; }
table th,
table td {
    padding: 1.2rem 1.5rem;
    text-align: left; }
table th {
    font-weight: normal;
    border-bottom: .1rem solid #d3dbe2; }
table th:hover {
    cursor: pointer; }
table th:empty:hover {
    cursor: default; }
table td .icon-image {
    float: left;
    display: inline-block;
    min-width: 2.4rem;
    min-height: 2.4rem; }
table td .icon-image:after {
    min-width: 2.4rem;
    min-height: 2.4rem;
    background-size: 24px 24px;
    /* IE requires pixels. Using cover/contain/rem values cause blurry edges */
    vertical-align: middle;
    display: inline-block; }
table.results tr td {
    padding-top: .8rem;
    padding-bottom: .8rem; }
table.summary th {
    padding: 0 0 2.0rem 0;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase; }
table.summary th:hover {
    cursor: auto;
    background-color: transparent;
    color: inherit; }
table.summary th span {
    float: right;
    color: #707070;
    text-transform: none;
    font-weight: 300; }
table.summary tr:hover {
    background-color: transparent; }
table.summary tr td {
    padding: .4rem 0;
    border: 0; }
table.summary tr td:first-child {
    width: 67%; }
table.summary tr td:last-child {
    text-align: right;
    color: #95a7b7; }
table.table-responsive th.details{
    min-width: 48%;
}
.table-result{
    overflow-y: auto;
}
.table-responsive{
    margin-bottom: 0px;
    border: 0;
}
/* Pagination
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagination {
    width: 100%;
    text-align: center;
    margin-top: 2.0rem; }
.pagination .button-group {
    display: inline-block;
    margin: 0; }
/* Tips
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tip {
    display: inline;
    position: relative; }
.tip:hover {
    text-decoration: none; }
.tip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: .6rem .6rem 0 .6rem;
    bottom: 3.0rem;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    z-index: 99; }
.tip:hover:after {
    background-color: #333;
    border-radius: .3rem;
    bottom: 3.5rem;
    color: #fff;
    content: attr(data-hover);
    font-size: 1.4rem;
    line-height: 2.0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: .5rem 1.5rem;
    position: absolute;
    z-index: 98;
    width: auto;
    white-space: nowrap;
    text-align: left; 
}
.tip.largetip:hover:after {
    background-color: #333;
    border-radius: .3rem;
    bottom: 3.5rem;
    color: #fff;
    content: attr(data-hover);
    font-size: 1.4rem;
    line-height: 2.0rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: .5rem 1.5rem;
    position: absolute;
    z-index: 98;
    width: 250px;
    white-space: normal;
    text-align: left; 
}
.highlight-text .tip:hover:after{
    white-space: nowrap;
}
.history-link {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0px;
}

.redirect {
    color: #fff;
}
/*popup css start*/
.shopify{
    background-color: #4c576566;
}
.shopify .modal-dialog{
    max-width: 640px;
    margin-top: 6.6rem;
    width: auto;
}
.shopify .modal-content{
    -webkit-box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
    box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
}
.shopify .modal-body{
    padding: 0px;
}
.shopify .Polaris-Card{
    box-shadow: none;
}
.shopify .btn-shopify{
    background: -webkit-gradient(linear, left top, left bottom, from(#6371c7), to(#5563c1));
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    -webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
    box-shadow: inset 0 1px 0 0 #6f7bcb;
    color: #ffffff;
}
.shopify .modal-title{
    font-size: 2rem;
}
.shopify-close-btn{
    opacity: 1;
}
.shopify-close-btn:hover{
    opacity: 1;
}
.shopify .Polaris-Choice{
    margin-bottom: 0px;
    width: 100%;
}
.shopify .Polaris-Choice__Control{
    margin-top: 12px;
    margin-right: 25px;
}
.shopify .Polaris-ResourceList__AttributeOne{
    font-weight: normal;
}
.shopify .Polaris-ResourceList__Container{
    pointer-events: unset;
}

.selected.Polaris-ResourceList__Container{
    pointer-events: unset;
    padding: 0.6rem 2rem;
}
.shopify .list-container {
    padding: 0.3rem 2rem;
}
.pagination {
    width: 100%;
    text-align: center;
    margin-top: 2.0rem;
}
.modal-footer.pagination {
    margin-bottom: unset;
}
.loader{
    text-align: center;
}
.alredy-addded{
    display: none;
}
.shopify .alredy-addded {
    margin-top: 12px;
}
.shopify .Polaris-ResourceList__Content {
    width: auto;
}
.badge--status-success {
    color: #49675b;
    background-color: #bbe5b3;
    color: #212b35;
}
.Polaris-PageActions a:not([data-polaris-unstyled]){
    color: #212b36;
}
.image-icon {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 22px;
    padding-bottom: 50px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    display: block;
    background: #fafbfc;
    padding: 0;
    margin: 9px;
}
/*Flash notice css start*/
/*Flash notice css*/

.inline-flash-wrapper {
    position: fixed;
    z-index: 552;
    bottom: 1.6rem;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    pointer-events: none;
}

.inline-flash-wrapper--is-visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.inline-flash.error {
    background: -webkit-gradient(linear, left top, left bottom, from(#e6391a), to(#d53417));
    background: linear-gradient(to bottom, #e6391a, #d53417);
    border-color: #b02b13;
    -webkit-box-shadow: inset 0 1px 0 0 #e84528;
    box-shadow: inset 0 1px 0 0 #e84528;
}
.inline-flash {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1.6rem;
    background: rgba(0,0,0,0.88);
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    border-radius: 3px;
    color: #ffffff;
    cursor: default;
    /*max-width: 400px;*/
    pointer-events: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.inline-flash__message {
    padding: 0.8rem 1.6rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin: 0;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.inline-flash-wrapper.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.inline-flash-wrapper.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@media screen and (min-width: 768px){
    .inline-flash--nav-offset {
        margin-left: 24rem;
    }
}

@media (min-width: 640px){
    .inline-flash {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

/*Flash notice css end*/

.Polaris-Button--sizeSlim.Polaris-Button--loading{
    min-height: 3.6rem;
}

.special_offer-page .tour-step-backdrop{
    padding: 15px;
}
.modal-open .modal{
    z-index: 99999;
}

/*accordion css*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
/*accordion css*/
.panel-heading .accordion-toggle{
    color: #fff; 
}
.panel-heading .accordion-toggle:hover, .panel-heading .accordion-toggle:active, .panel-heading .accordion-toggle:focus{
    color: #fff; 
    text-decoration: none;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel .custom-heading{
    background-color: #6C7BCF;
}
.Polaris-Button--disabled, .Polaris-Button--disabled span{
    background: #CFCFCF !important;
}
/*.p_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/